[2013-10-12 09:46] VanessaE opened #1 "traffic signal selection box"
selection box issues with the traffic signal.  As predicted, people are having trouble figuring out how to dig them :)

just make the controller base's selection box something like {-0.5, -0.5, -0.5, 0.5, 3.5, 0.5 } or whatever the correct height should be

[2013-10-12 09:55] #1 closed, assigned to nobody

[2013-12-16 18:46] qwrwed opened #4 "Delineators and streetlamps have the same craft"
minetest.register_craft({
        output = "streets:streetlamp_basic_bottom",
        recipe = {
                {"","default:torch",""},
                {"","default:stick",""},
                {"","default:stick",""}
        }
})

minetest.register_craft({
        output = "streets:delineator 4",
        recipe = {
                {"","default:torch",""},
                {"","default:stick",""},

[2013-12-18 06:54] #4 closed, assigned to nobody

[2014-03-17 18:58] webD97 opened #5 "Use special_tiles"
Use special_tiles = {}

[2014-03-17 18:59] webD97 opened #6 "Improve trafficlight"
Make trafficlights more flexible

[2014-04-11 16:35] webD97 opened #9 "Translations"
Add translation support with kaeza's intllib mod...

[2014-04-11 16:36] webdesigner97 opened #10 "Gh pages"
Add a gh page with craft info...

[2014-04-13 20:47] VanessaE opened #11 "unknown blocks in older maps"
A recent update went into the moreblocks mod which resulted in plain asphalt stair blocks in this mod becoming unknown.  The affected node was registered as "stairs:stair_asphalt" when it was originally placed, but this now seems to be an invalid name.  Plain asphalt slabs, which were and still are registered as "streets:slab_asphalt" are not affected.  Other mods' blocks do not seem to be affecte

[2014-04-14 15:24] webD97 opened #12 "Awards"
Add support for @rubenwardy 's awards mod

[2014-04-14 15:59] webD97 opened #13 "Improve emergencyphone"

[2014-04-14 16:02] webD97 opened #14 "Improve delineator"

[2014-04-15 07:35] #9 closed, assigned to webD97

[2014-04-15 07:35] #12 closed, assigned to webD97

[2014-04-16 16:02] #11 closed, assigned to webD97

[2014-04-24 17:15] #6 closed, assigned to webD97

[2014-05-27 13:45] webD97 opened #17 "Improve signworkshop"
Add loops

[2014-05-27 16:56] #17 closed, assigned to webD97

[2014-05-27 16:56] #5 closed, assigned to webD97

[2014-05-27 20:25] webD97 opened #18 "Poles..."

[2014-05-27 20:25] #13 closed, assigned to webD97

[2014-05-27 20:25] #14 closed, assigned to webD97

[2014-05-31 06:28] #18 closed, assigned to webD97

[2014-06-02 01:16] VanessaE opened #19 "smartfs.lua: No such file or directory"
21:14:25: ERROR[main]: ========== ERROR FROM LUA ===========
21:14:25: ERROR[main]: Failed to load and run script from
21:14:25: ERROR[main]: /home/minetest/.minetest/games/dreambuilder_game/mods/streets/streetsmod/init.lua:
21:14:25: ERROR[main]: cannot open /home/minetest/.minetest/games/dreambuilder_game/mods/streets/streetsmod/libs/smartfs/smartfs.lua: No such file or directory
21:14:25: ERROR

[2014-06-02 05:27] #19 closed, assigned to nobody

[2014-06-27 20:05] davisonio opened #21 "Nil value caused by sign workshop"
There is sometimes an error with the sign workshop:

[code]

[2014-06-27 21:02] #21 closed, assigned to nobody

[2014-06-27 21:17] davisonio opened #25 "Unknown nodes with asphalt stairs"
In an ealier version of the mod asphalt stairs used to be `streets:asphalt_stair`. Now they are known as `streets:stair_asphalt`.
Maybe an alias needs to be made..

[2014-06-27 21:27] #25 closed, assigned to nobody

[2014-06-27 22:29] davisonio opened #28 "Signs turn into unknown nodes when placed"
Caused by @crazyR14's commit #20
The signs appear fine in inventory and the infotext shows up, only when they are placed they turn into unknown nodes

[2014-06-28 06:42] #28 closed, assigned to nobody

[2014-09-22 14:52] kilbith opened #31 "Error report (mod d/l from Git)"
16:51:21: ERROR[main]: ========== ERROR FROM LUA ===========
16:51:21: ERROR[main]: Failed to load and run script from
16:51:21: ERROR[main]: /home/fabien/.minetest/mods/streets/streetsmod/init.lua:
16:51:21: ERROR[main]: cannot open /home/fabien/.minetest/mods/streets/streetsmod/libs/smartfs/smartfs.lua: No files or folders like this
16:51:21: ERROR[main]: stack traceback:
16:51:21: ERROR[main]:

[2014-09-22 19:51] #31 closed, assigned to nobody

[2014-10-07 12:27] Megaf opened #32 "ERROR[main]: ERROR: An unhandled exception occurred: ...netest/Server/bin/../mods/streets/roadsigns/workshop.lua:95: attempt to index a nil value"
Hi, streets mod have decided to misbehave.
[code]

[2015-01-07 22:22] kociak1984 opened #37 "Issue with trafficlights"
I've installed your mod a week ago along with couple of others.
I've managed to make a fully automatic light system that covers about 8 crossings, but I've spotted one issue:
After placing the lights work normally: they switch colours as desired. After I leave the area, or just turn around and turn back after some time (couple of minutes) they randomly turn. They continue to work, but they look as

[2015-01-09 21:38] kociak1984 commented on #37
Update: sadly both server's and client's log do not show anything :/

[2015-01-10 21:10] webdesigner97 commented on #37
Which node are they attached to?

[2015-01-12 08:04] kociak1984 commented on #37
They are attached to "poles", the same mentioned in a tutorial (section: Simple setup). There is a  digiline distributor underneath each pole. I've also spotted the same problem when traffic lights are attached to fences or stone, with a digiline on the block underneath.

[2015-01-13 17:13] webdesigner97 commented on #37
These poles aren't those included in the streets modpack, are they? I'd be happy if you could test this on streets' standard poles and report the result.
Or maybe do you have a mod installed that might change the poles behaviour? They always used to work well well for me.
Unfortunately I don't have the time to do test and time-needing code fixes because of school projects and other stuff :/

[2015-01-13 20:48] kociak1984 commented on #37
Sure, I will test it on purest possible server, on fresh downloads.

[2015-01-29 21:49] dora71 opened #39 "Interested in new signs ?"
Is there an interest to integrate new signs in the streets mod? I think of signs "closer to reality", like a stop sign, or speed limit signs.
Some examples are already "produced", but still need to be integrated/tested. Just want to know if there is anybody out there interested in it.

[2015-01-30 12:36] webdesigner97 commented on #39
A bigger variety of signs would be awesome! Unfortunately, I don't have any time to work on this projects at least until summer :(

[2015-01-30 21:09] dora71 commented on #39
Fortunately, you built your mod with github, so collaboration should not be the problem ;-) Will fork your mod and will see what we can do with it. I also saw an error, which I can also fix (just a wrong sign, nothing big).

To give you (or anyone else) an idea, I will enclose a picture of some signs in the signsworkshop (on my server).  Feedback welcome!

![minetest-signs](https://cloud.githubuse

[2015-01-30 21:40] webdesigner97 commented on #39
These are quite nice ones. They aren't perfect, but a nice start :)

Those with text on it should have a font with rougher pixels.
The railroad sign/Andreaskreuz looks a bit blurry :/
But so far, they are nice!

[2015-03-07 18:44] Megaf opened #42 "/streets/streetsmod/libs/smartfs/smartfs.lua: No such file or directory"
[code]

[2015-03-07 18:52] kilbith commented on #42
Already reported here : #31

But he don't want to fix it...

[2015-03-07 19:42] webdesigner97 commented on #42
Don't usw the ZIP downloads from the sidebar. Try a ZIP from the releases section.

Megaf <notifications@github.com> schrieb:

[2015-03-07 19:53] Megaf commented on #42
I had to do a git clone --recursive instead of git clone.

[2015-03-07 19:53] #42 closed

[2015-07-27 11:32] Routhinator commented on #31
You should be using subtrees and not submodules so the code is committed as part of your project and you still have remote tracking. If the submodule you are depending on is updated after your commit with a breaking change, your module is broken. Released code should not rely on submodules.

[2015-07-27 15:50] webdesigner97 commented on #31
That is interesting to know. I will change that for the next release. But don't expect it in the near future, I'm too busy with other stuff...

[2015-07-29 19:47] aerth opened #43 "undeclared global variables: gui_bg and register_stair_slab_panel_mirco"
[code]
At first glance, the second one may be a typo in init.lua:4

[2015-07-29 19:48] aerth commented on #43
Minetest 0.4.12-dev-5ebb423
Build info: VER=0.4.12-dev-5ebb423 BUILD_TYPE=Release RUN_IN_PLACE=1 USE_GETTEXT=0 USE_SOUND=0 USE_CURL=1 USE_FREETYPE=1 USE_LUAJIT=0 STATIC_SHAREDIR="."

[2015-07-29 19:54] aerth commented on #43
Woops! https://github.com/webdesigner97/streets/pull/38 Fixes this.
And the gui_bg is from not having minetest_next. :D Thanks !

[2015-07-29 19:54] #43 closed

[2016-01-19 16:14] #10 closed

[2016-01-19 16:16] webdesigner97 commented on #37
Seems to be fixed.

[2016-01-19 16:16] #37 closed

[2016-05-13 20:42] #32 closed

[2016-05-13 20:42] #39 closed

[2016-05-29 06:40] Thomas--S opened #52 "Problem with polemounted signs and corner pole"
![](http://i.imgur.com/D0AVjIL.png)

I think the picture explains the problem.

[2016-05-29 08:51] webdesigner97 opened #53 "Licensing"
Find suitable licenses for media/code: CC-BY-SA 3.0 seems to be fine for media, not sure which license to choose for the code though...

[2016-05-29 08:52] webD97 opened #54 "Make use of kaeza's intllib"
Implement intllib and supply a template file for translators.

[2016-05-29 08:53] webdesigner97 opened #55 "Make use of rubenwardy's achievements"

[2016-05-29 08:54] webdesigner97 opened #56 "Side lines"
solid slim, solid thick, dashed slim, dashed thick, outer edge thick, outer edge thin, inner edge thick, inner edge thin

[2016-05-29 08:55] webdesigner97 opened #57 "Roadwork related accessories"
- [x] Fences
- [x] Pylons
- [x] Lights
- [x] Vertical bars

etc.

[2016-05-29 08:56] webdesigner97 opened #58 "Warning signs"
"!", lava, water, construction area, curves, railroad crossings, crosswalks, vertical bars

[2016-05-29 08:56] webdesigner97 opened #59 "Traffic signs"
"STOP", "Railroad", "Give way", "right of way", "Priority", "One way", "roundabout (a square of course)", "dead end", "Parking"

[2016-05-29 08:57] webD97 opened #60 "Writable signs (signs_lib/display_lib)"
Writable using signs_lib (hopefully?): city entrance/exit, street name, guideposts

[2016-05-29 08:58] webdesigner97 opened #61 "Traffic barriers"

[2016-05-29 08:58] Thomas--S commented on #52
Suggestion: Make the poles connected nodeboxes, that connect to group:pole and group:signs.

[2016-05-29 08:58] webdesigner97 opened #62 "Portable trafficlight"
compact and portable (1-step-build) e.g. for roadworks

[2016-05-29 08:59] webdesigner97 commented on #52
We're working on it :) Connected nodeboxes are planned, but not yet on top of the todo list.

[2016-05-29 09:00] Thomas--S commented on #52
I think I could make that changes maybe.

[2016-05-29 09:00] webdesigner97 opened #63 "Bollards"

[2016-05-29 09:01] webdesigner97 commented on #52
You don't need to ;) We'll do this asap.

[2016-05-29 09:52] Thomas--S commented on #52
Possible fix: #64

[2016-05-29 11:59] cheapie commented on #52
This is not how signs are intended to be mounted.

They are intended to be mounted like this:

PS
P

Where P is a pole (either straight or heading in a different direction) and S is the sign.

[2016-05-29 12:02] Thomas--S commented on #52
But what to do if you want to place the signs like this:

(view from top):

P S
S

e.g. when you want to mark the right of way?

[2016-05-29 12:24] cheapie commented on #52
That's never been supported before, and I don't know if it should be, since it would require moving the signs all the way out to the edge of the node (35cm from the pole, I think).

[2016-05-29 12:53] Thomas--S commented on #52
Or the pole connects to the sign.
Please wait for the PR update, I think I have a solution, that is fine for everyone.

[2016-05-30 01:57] benrob0329 commented on #53
BSD 3 clause is basically CC-BY-SA for code.

[2016-05-30 02:02] cheapie commented on #53
I am okay with code I've written for this project being put under the 3-clause BSD license, but I would strongly prefer the 2-clause version.

[2016-05-30 02:11] benrob0329 commented on #53
I'm curious, what's wrong with clause 3?

'''3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.'''

[2016-05-30 02:52] cheapie commented on #53
It sounds (to me anyway) rather restrictive, almost to the point where saying things like "Yeah, my such-and-such mod is great. I based it off of webdesigner97's streets mod" would be prohibited.

There might be (and probably are) other ways to interpret that, but I don't really see the point in restricting it anyway.

Also, we'll need to get Thomas--S to weigh in on this as well, as he already ha

[2016-05-30 03:36] Thomas--S commented on #53
CC BY-SA for media and BSD 2-clause for code is fine for me.

[2016-05-30 20:11] #61 closed

[2016-05-31 03:39] cheapie commented on #62
I've added something that should work as a start. It's a self-contained 4-way traffic light (configurable via formspec) capable of flashing or running on a timer. It still needs the nodebox updated with visors, as well as an inventory image and craft recipe.

[2016-05-31 14:30] Thomas--S opened #76 "[Streets 2.0] Roadmarkings"
**Please don't modify anything related to roadmarkings at the moment because I'm working on it.
I'll make a PR as soon as possible.**

**Thanks!**

[2016-06-01 08:09] #63 closed

[2016-06-02 06:10] cheapie commented on #62
OK, I've done about all I can with this. All it needs at this point is visors added to the nodebox (above my nodebox skill level).

[2016-06-02 06:11] cheapie commented on #59
OK, the US ones are done.

Your turn, @webdesigner97 :P

[2016-06-02 06:11] cheapie commented on #58
OK, the US ones are done.

Your turn, @webdesigner97 :P

[2016-06-02 06:28] webdesigner97 commented on #62
Sounds good! I can do the nodebox stuff.

[2016-06-03 07:03] cheapie commented on #60
It looks like there's a bug in signs_lib preventing this. I've reported it and we'll see what happens.

[2016-06-03 07:05] cheapie commented on #56
Should this be considered resolved when #78 is merged?

[2016-06-03 08:35] webdesigner97 commented on #56
I guess this issue isn't useful... Feel free to ignore this when merging.

[2016-06-03 08:35] #56 closed

[2016-06-03 08:56] webdesigner97 commented on #62
Wow. The nodeboxes are a pain...

[2016-06-03 08:58] webdesigner97 commented on #62
Maybe we should switch to something [more simple](http://www.rtmservices.ie/traffic_lights.php)?

[2016-06-03 14:36] benrob0329 commented on #62
I can make a model if you want (or at least try my best to, MT is a little picky)

[2016-06-03 21:49] webD97 opened #80 "Support for visual_scale in streets.register_road_sign()"
Especially highway signs need to be bigger than 1m. An optional field for the visual_scale would be perfect, but that would require the use of a mesh instead of nodeboxes, see [Minetest API](https://github.com/minetest/minetest/blob/master/doc/lua_api.txt#L3488)

[2016-06-03 22:09] cheapie commented on #62
@webdesigner97
Oh, an AFAD? That's something completely different (and requiring much more work to implement in MT).

[2016-06-03 23:48] benrob0329 commented on #62
Sure, what were you thinking as a general idea for them?

[2016-06-04 01:01] cheapie commented on #62
Probably about the same as they are now, although slightly bigger wouldn't hurt.

[2016-06-04 04:28] Thomas--S commented on #80
I also suggest to support `light_source`.

[2016-06-04 04:29] Thomas--S commented on #80
And the `visual_scale` problem can be fixed when using nodeboxes that are bigger than a node.

[2016-06-04 05:24] webdesigner97 commented on #80
But that would tile the texture instead of scaling it...

[2016-06-05 14:04] #76 closed

[2016-06-05 14:57] Thomas--S commented on #57
Fences:  399b9f0

[2016-06-05 15:01] Thomas--S commented on #53
@cheapie, @webdesigner97 Is CC BY-SA for media and BSD 2-clause for code ok for you? I think we really should add a license as soon as possible.

[2016-06-05 18:29] Thomas--S commented on #57
Pylons: 00587ac

[2016-06-05 18:50] benrob0329 commented on #62
Do you have any reference images for what you were thinking of for a portable traffic light?

The first thing that pops into my head is a traffic light on an orange stand.

[2016-06-05 19:18] Thomas--S commented on #52
If I find time, I will rewrite the whole sign placement code. Until then, this can be closed.

[2016-06-05 19:18] #52 closed

[2016-06-05 23:05] cheapie commented on #53
That's fine with me.

[2016-06-05 23:07] cheapie commented on #62
Something like this?
http://www.p-wholesale.com/upimg/17/143a1/solar-portable-traffic-light-845.jpg

[2016-06-07 02:26] benrob0329 commented on #62
Seems entirely doable, a 1 meter base and 2 meters tall you think?

[2016-06-07 02:32] cheapie commented on #62
Sure, something like that would be great.

[2016-06-07 03:30] benrob0329 commented on #62
Alright, I'll have to tackle that tomorrow (I have a few ideas about how to space the lights properly, its not as strait forward as it'd seem, but unfortunately there isn't ever enough hours in the day to get everything done)

[2016-06-08 02:13] benrob0329 commented on #62
![screenshot from 2016-06-07 22-12-18](https://cloud.githubusercontent.com/assets/19180682/15880594/068bfba6-2cfd-11e6-8ee2-5152838b03b9.png)

Something like that?

[2016-06-08 02:28] cheapie commented on #62
Looks great!
On Jun 7, 2016 9:13 PM, "benrob0329" <notifications@github.com> wrote:

[2016-06-08 03:28] Thomas--S commented on #62
I prefer it without the base box, because then you are more free with the placement.

[2016-06-08 03:34] benrob0329 commented on #62
@Thomas--S Like this?

![screenshot from 2016-06-07 23-32-21](https://cloud.githubusercontent.com/assets/19180682/15881931/25110390-2d08-11e6-8c66-7e81b83b11e1.png)

I think i have all the modeling done if everyone is ok with that, but the UV map is a mess:

![screenshot from 2016-06-07 23-34-20](https://cloud.githubusercontent.com/assets/19180682/15881950/63f27bc0-2d08-11e6-859a-f3088215cdc2.png)

[2016-06-08 04:02] Thomas--S commented on #62
Yeah, I prefer the second suggestion.

[2016-06-11 10:39] Thomas--S commented on #52
572e545

[2016-06-11 11:13] cheapie commented on #53
I think we're still just waiting on @webdesigner97 for this one.

[2016-06-11 11:19] cheapie commented on #55
This "achivevements" mod is rather obscure... are there really enough people using it that we should support it?

[2016-06-11 11:21] Thomas--S commented on #55
I'm neutral on this one.

[2016-06-12 20:07] webdesigner97 commented on #53
Ok, I'm back from my vacation. I'll continue my stuff tomorrow. This one is approved :)

[2016-06-12 20:10] webdesigner97 commented on #55
I'm not quite sure anymore... It was a result of my brainstorming after my comeback to Minetest. Maybe we should gather information about the usage of @rubenwardy 's achievements and decide for a alter release.

[2016-06-12 20:16] webdesigner97 commented on #62
Looks good! What about making the side panels of the visors a bit shorter? That would make the lights more visible when standing 1-2m next to the trafficlights. With these long visors, the lights would only be really visible when the trafficlight is above you.

[2016-06-12 20:45] rubenwardy commented on #55
The mod is used in several subgames and servers, but not as popular as things like mesecons etc. It's much more of a subgame thing, related to gameplay, than a mod thing

[2016-06-12 20:46] webdesigner97 commented on #55
Ok, thank you for your quick answer!

[2016-06-12 20:46] #55 closed

[2016-06-13 03:48] Thomas--S commented on #53
#83

[2016-06-14 13:49] Thomas--S commented on #53
21e54c9

[2016-06-14 13:49] #53 closed

[2016-06-16 19:45] Thomas--S commented on #57
Vertical bars/Roadwork delineators: 5de832e

[2016-06-16 19:45] #57 closed

[2016-08-01 12:47] HybridDog opened #85 "too many items"
l noticed that streets (the new version) adds an enormous amount of items:

[code]

[2016-08-01 12:50] webdesigner97 commented on #85
Yep... This amount became huge... That's because ebery single marking on asphalt has all shapes of the circular_saw registered, too... IU'm not happy with this because it makes the game load forever... We need to discuss this...

[2016-08-01 12:52] HybridDog commented on #85
indeed, l just rebased my streets mod to the new version and now there're 1516  items

[2016-08-01 12:53] webdesigner97 commented on #85
We really need to remove some stuff, but I have to wait for the others... They need to decide as well...

[2016-08-01 14:31] cheapie commented on #85
I made a forum thread a while back mentioning this and (once again) calling
for texture override support. It died out yet again, and yet we pretty much
need this in order to bring this number down.

On Aug 1, 2016 7:52 AM, <notifications@github.com> wrote:

[2016-08-01 19:38] Thomas--S commented on #85
I think that once there will be meta-based node-def. It is only a question of time. Until then, we have to live with the huge amount of nodes. I am testing this mod on my server, and surprisingly it isn't as slow as you would expect. So I think the many nodes are acceptable as long as there is no meta-set node-def. As soon as this feature arrives, we can start to develop Streets 3.0

[2016-08-01 19:43] HybridDog commented on #85
Maybe in some cases connected nodebox drawtype can be used.

[2016-08-02 06:44] Thomas--S commented on #85
The only place where they _could_ be used, are the bigpoles. But we all agreed that not using connected nodeboxes  there is better. Everywhere else, we use them already, if it makes sense.

[2016-08-30 15:08] Thomas--S commented on #85
I'll remove this from the Streets 2.0 Milestone, as it is unlikely, that the needed meta-based node-def feature will come soon. I think that this problem here should be solved in Streets 3.0 (as soon as Minetest has meta-based node-def)

[2016-09-05 17:16] Thomas--S commented on #58
EU ones are done, too.
This can be closed now.

[2016-09-05 17:16] #58 closed

[2016-09-07 11:50] Thomas--S commented on #54
Does this really make sense?
First of all, making everything translatable is a lot of work.
Secondly, translations are server-side, so most of the time, English (the default) will be used. As a result, our translations only have little use.
Finally, many things aren't even translatable, e.g. road signs.

I suggest to not provide support for the intllib, as the amount of work is too high for the li

[2016-10-30 06:36] Thomas--S opened #87 "Change Code License to MIT"
I suggest to change the code license from BSD-2-Clause to **MIT**.
Why?
* MIT License is now **commonly used in minetest_game** (as a replacement for WTFPL), so I think it would be good if the streets mod follows this example.
* MIT License and BSD-2-Clause are quite **similiar**, so I think there shouldn't be a problem.
* (I could use the code of this project in my other projects :wink:)

**More

[2016-10-30 08:30] cheapie commented on #87
That's fine with me.

On Oct 30, 2016 1:36 AM, "Thomas--S" <notifications@github.com> wrote:

[2016-10-30 08:33] Thomas--S commented on #87
Thanks, @cheapie

[2016-10-30 08:38] webdesigner97 commented on #87
Also fine for me. I wish I had more time for this project...

Von meinem Sony Xperia™-Smartphone gesendet

---- Thomas--S schrieb ----

I suggest to change the code license from BSD-2-Clause to MIT.
Why?

  *   MIT License is now commonly used in minetest_game (as a replacement for WTFPL), so I think it would be good if the streets mod follows this example.
  *   MIT License and BSD-2-Clause are q

[2016-10-30 08:41] Thomas--S commented on #87
Thanks, @webdesigner97

[2016-10-30 14:45] HybridDog commented on #87
It's ok for me, too.

[2016-10-30 15:15] Thomas--S commented on #87
Thanks, @HybridDog

[2016-10-30 15:24] Thomas--S commented on #87
f3e8d4d

[2016-10-30 15:25] #87 closed

[2016-11-27 14:27] fireglow opened #88 "Support for half-height blocks"
Hi, just been testing the relaunch branch and all my players liked it, we're especially fond of the great selection of signs and markings.
However, we can't use this mod on our main server for now because the various streets: blocks cannot align with half-height blocks like slabs. (We use slabs extensively to mimic curbstones)
Is this something that can be fixed in the future?

[2016-11-27 14:33] webdesigner97 commented on #88
We also noticed this problem some months ago and found that it is a problem with minetest_game if I remember correctly. There was an issue discussing this, But to be honest, I don't remember if it was resolved because I'm quite inactive these days (job)...

[2016-11-28 18:01] fireglow commented on #88
Ah, I see.
Maybe @cheapie has more information on the subject?

[2017-02-21 16:57] webD97 opened #89 "Crash on startup if mesecons not installed"
The game crashes on startup, if mesecons is not installed due to missing `mesecon `table: https://github.com/minetest-streets/streets/blob/master/streets_bollards/init.lua#L35

[2017-02-21 17:00] Thomas--S commented on #89
I will try to fix this ASAP

[2017-02-21 17:12] Thomas--S commented on #89
27eedcb

[2017-02-21 17:12] #89 closed

[2017-02-21 17:12] webD97 commented on #89
Thank you, I would do this myself, but I'm busy.

[2017-02-21 17:12] Thomas--S commented on #89
Thanks for reporting the bug!

[2017-03-31 20:23] darkfeels opened #90 "Hanging light same recipe with horizontal light"
Hello,

I've download the "new" streets mod and saw that I must build alle my streets new :/
While I was bulding the street latern new I noticed that the Horizontal street light has the same recipe like the Hanging streets light.
I'd tried to build booth of the lights but every time I only got the hanging version of the light.

`
minetest.register_craft({
	output = "streets:light_horizontal_off 3"

[2017-04-01 08:04] Thomas--S commented on #90
8fff7db

[2017-04-01 08:04] #90 closed

[2017-04-26 00:06] darkfeels opened #91 "No concrete recipe without Technic Mod"
There is no recipe for concrete without the Technic mod.
Maybe we could use the "old" recipe:

{ "", "", "" },
{ "", "default:stone ", "" },
{ "", "", "" }

[2017-04-26 00:40] darkfeels opened #92 "recipe for traffic fence dont work"
Hello,

The recipe for the the traffic fence don`t work.
Minetest says everytime there is no recipe for xpanes:bar.
But the xpanes:bar are the Iron Bar.

[2017-04-26 03:59] Thomas--S commented on #92
Thanks for the report!

db6f05b186d25358cba21f1b3c35979ca08d199a

[2017-04-26 03:59] #92 closed

[2017-04-26 04:00] Thomas--S commented on #91
Thanks for the report. I used a slightly different recipe:

[code]

db6f05b186d25358cba21f1b3c35979ca08d199a

[2017-04-26 04:00] #91 closed

[2017-04-27 08:49] webD97 commented on #91
I'm not sure if this recipe is optimal... Using steel for non-reinforced concrete seems weird. Also a 3x3 recipe means a lot of work for such a "basic" node. We should at least reduce the size to 2x2.
However, I'd prefer a completely new recipe that involves e.g. mixing stone and sand. I'll think about this later...

[2017-04-29 22:05] darkfeels opened #93 "Minetest crashes when roadmarks on unknown Node"
Hello,

If I put some roadmarks on an unknown node the game will crash.
I think the problem is the check of the node. If it is aspahlt then do roadmarks with the asphalt, if it is another node put the roadmarks on top of the node but because of the unknown node the check will get no data and the the game crashes

[2017-04-30 05:54] #93 closed

[2017-04-30 05:55] Thomas--S commented on #93
Thanks for the report.

[2017-09-16 19:03] Thomas--S commented on #85
(Partially) fixed by dd62ee45a3cd5e301c497b5a3f93cf6b4d644950

[2017-09-16 19:03] #85 closed

[2017-09-17 11:39] Thomas--S commented on #80
d8ec7f619155bdea71c23cfa8e37e1dc250350c9

[2017-09-17 11:39] #80 closed

[2017-09-17 18:19] Thomas--S commented on #54
I suggest to use the new client-side translations as soon as 0.5.0 is stable.

[2017-09-17 18:25] webD97 commented on #54
That would be the best option.

[2017-09-17 18:25] #54 closed

[2017-10-17 11:04] DI3HARD139 opened #95 "Crash with latest moreblocks"
Mod works great without moreblocks. Crashes when trying to register slopes. Not sure if its caused by slopes.lua or technic_worldgen.

[code]

[2017-10-17 17:32] Thomas--S commented on #95
Could you maybe also provide the line before the "stack traceback"?

[2017-10-18 09:50] DI3HARD139 commented on #95
Sorry about that. Thought it copied it all. This is the full stack traceback. I can run it in gdb if needed.

2017-10-18 05:45:39: ERROR[Main]: ModError: Failed to load and run script from /home/di3hard139/.minetest/games/drs/mods/building_objects/streets/init.lua:
2017-10-18 05:45:39: ERROR[Main]: Number of registerable nodes (32768) exceeded (streets:slope_mark_solid_white_side_line_combinated_c

[2017-10-18 12:29] Thomas--S commented on #95
Please try to set `streets.only_basic_stairsplus = true` in `minetest.conf`.

It seems like there are too many nodes registered (maybe you use some additional mods).
The setting mentioned above reduces the number of nodes registered by the streets mod drastically.

[2017-10-21 12:45] DI3HARD139 commented on #95
That worked. Thanks!

[2017-10-21 12:45] #95 closed

[2018-01-29 19:38] benrob0329 commented on #62
Oh, I completely forgot about this 😅

Will work on this tonight

[2018-01-31 19:26] Thomas--S commented on #60
I'm working on an approach with display_lib atm.

[2018-02-03 21:11] webD97 commented on #60
display_lib looks promising. Never heard of it before, so I'm looking forward to a POC :)

[2018-02-03 21:12] webD97 commented on #88
I'll investigate if this is still happening.

[2018-02-03 21:14] Thomas--S commented on #60
There's already a very simple POC on my PC, but there's still one PR missing for display_lib.

I already submitted three PRs that changed some things, so the mod suits our needs.
The last one that improves the API a bit is nearly ready and will probably be submitted tomorrow.

[2018-02-04 19:12] webD97 commented on #88
Seems to be fixed.

[2018-02-04 19:12] #88 closed

[2018-02-15 20:34] Thomas--S commented on #60
▶️ #98

[2018-02-28 15:50] Thomas--S opened #99 "Mod structure"
Version 3.0 should be more modular and flexible in its structure.

To achieve this, I suggest the following:

[code]

[2018-02-28 19:52] Thomas--S opened #100 "Signs API"
I suggest the following API for signs:

Please notice: additional fields will be added to the definition tables during development as needed.

### `streets.signs.register_system()`
[code]

* `id` is an unique technical identifier for the system. Allowed characters: `[a-zA-Z0-9-]`
* `name` is a human-readable name of the system.
* `description` is a human-readable description of the system.

Regist

[2018-03-01 12:15] webD97 commented on #100
Sounds good so far, but I have a few suggestions for enhancements:

1. IDs should be autogenerated by the API. It shouldn't be the concern of a developer/content-creator to avoid name-collisions. The ID could be generated out of the description and returned from the function for later use
2. Avoid duplicated information: If a sign has a section which has a system, the sign shouldn't need to declar

[2018-03-01 21:15] webD97 commented on #100
To 1: What I wanted to achieve is a simplification of the API. In my opinion, there shouldn't be a need to specify two strings, name and ID, which are quite similar. It's just another step to understand for content creators. I don't think it's their concern to create IDs following our conventions. Autogenerated IDs would also enforce these conventions. He/she (I'll abbreviate this to 'he') will mo

[2018-03-01 21:24] webD97 commented on #99
I support this concept, even though I think it's a bit too early to agree on individual files. But the directory/ mod structure is good.

[2018-03-01 21:36] webD97 opened #101 "Reducing the number of nodes"
Thsi is my suggestion to reduce the number of asphalt nodes in this mod:

- Only register the stair and slab in the main mod, for full stairs+ support there should be a separate mod with an explicit warning about the number of nodes being registered

Advantages:
- Stairs development can be done seperately without requiring updates to the core mod (some kind of microservice architecture)

Disadvant

[2018-03-01 21:38] webD97 opened #102 "Roads API"
(This is still WIP, details following within the next days)

# streets.roads.register_surface(name, surface_definition)
This will put the definition into a local table

# streets.roads.register_label(name, label_definition)
This will put the definition into a local table

To allow for other mods (and therefore our own submods) to register their own surfaces and labels, this code only puts the defi

[2018-03-02 04:52] Thomas--S commented on #102
I've not read this in detail yet, but after skimming this, it seems to look good.

One little problem: You can't register anything in minetest.after(). This is a limitation of the Minetest engine. I suggest to run minetest.register_node() directly inside the streets.roads.register_label() function.

[2018-03-02 04:54] Thomas--S commented on #101
I will try to rewrite parts of the stairsplus code, so that we are able to only register the really needed nodes. This will also reduce the number of nodes drastically.

I think choosing between stairs and stairsplus should be done with a setting, not with a separate mod. This will be simpler for developers and users.

[2018-03-02 04:59] Thomas--S commented on #100
To 1) I still think we should separate ID and name in the API. Maybe I've chosen bad names, so that I have caused a misunderstanding: The ID is like the itemstring (e.g. `default:dirt`) in minetest and the name is like the description in the node definition. Maybe I should change the names accordingly.

I'll think about this problem in the next few days. I'll update my proposal accordingly then.

[2018-03-02 17:21] Thomas--S commented on #102
As far as I can see, surfaces can only be different colors of asphalt.

Maybe we then could avoid the register_surface() by controlling the available asphalt colors ( = different surfaces) with a setting.

I know, this is not very elegant, but it would be a simple and light-weight approach.

[2018-03-02 17:25] Thomas--S opened #103 "Idea: Move all crafting to the workshop"
What do you think of letting all crafting happen in the workshop?

This would allow us to avoid thinking about different recipes, it would allow more fine-tuning of the needed ingredients, and it would add a bit more realism.

Additionally, this would solve the problem of recipe conflicts.

I'm looking forward to your comments!

[2018-03-02 17:34] webD97 commented on #102
We would still need a way to the the API which nodes are "base nodes" for markings though.

[2018-03-02 18:03] Thomas--S commented on #102
We could do this with three simple settings:

* `streets.roads.surface_all_markings = black,red` (all marking variations get registered for these surfaces)
* `streets.roads.surface_limited_markings = blue` (a limited subset of marking variations will be registered for this surface)
* `streets.roads.surface_no_markings = white` (no markings will be registered for this surface)

The lines above are

[2018-03-02 18:05] webD97 commented on #102
What I meant was: How do we tell the API which nodes to put the labels on? I really don't want to hardcode this...

[2018-03-02 18:15] Thomas--S commented on #102
I fear the only possible way would be hardcoding. As far as I can see, only customization with settings would be technically possible.

I would prefer a register_surface() function, too, but I don't think this is possible.

[2018-03-02 18:17] webD97 commented on #102
I'm sure there is a way. Nothing's impossible ;) I'll think about it this weekend.

[2018-03-03 09:05] Thomas--S commented on #102
I think I found a possible solution.

I'll code it today to see if it works as expected.

[2018-03-03 09:31] Thomas--S commented on #102
What do you think about this code? (untested)

[code]

[2018-03-03 16:43] Thomas--S commented on #101
You can follow my progress on modifying stairsplus here: https://github.com/Thomas--S/moreblocks/tree/custom

There isn't much to see yet.

I'll submit those modifications as a PR when I'm ready.

[2018-03-04 11:49] Thomas--S commented on #101
The modifications of the moreblocks mod should be ready now. You can see them here: https://github.com/Thomas--S/moreblocks/tree/custom

I'll submit these as a PR when I am ready with testing.

[2018-03-04 19:26] Thomas--S commented on #99
The mod structure is roughly ready now. The contents of the submods need to be updated now.

[2018-03-06 13:31] Thomas--S commented on #100
I've addressed most of your comments in dc075087e7ca298c0be8e0c8456cf4f8915c5150.

It would be good, if you could review the updated proposal in the first post or in `api.md` (it's the same)

Here's a (possibly incomplete) list of the changes I did:

* Renamed `system` to `collection`
* Renamed the `id` field to `name`
* Renamed the `name` field to `description`
* Renamed the `description` field t

[2018-03-06 17:42] Thomas--S commented on #102
I made a new suggestion for the roads API based on your suggestion and the signs API in 1eccfa06fa385dfca8dddbd7e27bdbed874b3259.

Quote from `api.md`:

## Road Markings

### `streets.roads.register_label_collection()`
[code]

* `name` is an unique technical name for the collection.
  Allowed characters are: `[a-zA-Z0-9-]`
* `description` is a human-readable description of the collection.
  If lef

[2018-03-10 19:08] Thomas--S commented on #101
At the moment, we have three types of signs: center, polemount and normal.

@webD97 What's your opinion on removing the center ones?

[2018-03-10 21:44] Thomas--S commented on #85
:arrow_right: #101

[2018-03-11 09:09] webD97 commented on #101
What do you mean by "center"?

[2018-03-11 12:01] Thomas--S commented on #101
Combinations like this:

![](https://camo.githubusercontent.com/a3bb45230e1c522ec479541e2df04c98aef6bf72/687474703a2f2f692e696d6775722e636f6d2f6c5452663673462e706e67)

Where the sign is directly placed on top of a pole without a pole behind the sign.

This combination is quite unrealistic in my opinion and only rarely used, so I think we should remove those centered signs.

[2018-03-11 12:33] webD97 commented on #101
Okay, now I see what you mean. I fully support getting rid of this stlye...

[2018-03-12 20:56] Thomas--S commented on #60
442a3140337d338f5b0a32a9cc946a67894dd8fb

[2018-03-12 20:56] #60 closed

[2018-03-26 08:49] Thomas--S commented on #101
I think this can be closed now: f17617e9b36a8742f0af8c2bed0b476942f4774f

There is a new setting called `streets.roadmarkings_stairs_variations`, which can either be `limited`, `normal` or `full`. `normal` is the default.

This leads to following node numbers

| Setting | Number of nodes |
|---|---|
| `limited` | ~500 |
| `normal` | ~1350 |
| `full` | ~8000 |

[2018-03-26 08:49] #101 closed

[2018-03-26 17:09] Thomas--S commented on #103
@webD97 What's your opinion about this?

[2018-03-26 17:11] webD97 commented on #103
I'm fine with that.

Sorry about my inactivity, I'm still really busy. I hope this will get better after easter...

[2018-11-30 14:50] Thomas--S commented on #100
I suggest to use the following properties for all signs:

* 250px equals to 1m in real life
* Indexed PNGs for smaller file size (64 colors)

[2018-12-07 12:57] webD97 commented on #100
Sounds reasonable

[2018-12-09 18:02] Thomas--S commented on #100
A GIMP script for generating these images can be found at https://github.com/minetest-streets/streets/blob/78de2a9a83f215a61440539d5af6605984e58784/streets_api/helpers/script-fu-streets-signs.scm#L1-L151

The suggested usage is as follows:

1) Find the image of the wanted sign.
2) Scale it with 250px equals 1m.
3) `ln -s ~/.minetest/mods/streets/streets_api/helpers/script-fu-streets-signs.scm  ~/.

[2019-08-31 01:24] Panquesito7 opened #105 "Isn't this intended to be a modpack?"

[2019-08-31 06:11] Thomas--S commented on #105
As far as I know, it was a modpack in version 1.

Version 2 was intended as a single mod with modules, but not as a modpack.

The upcoming version 3 will be a modpack again.

[2019-09-01 00:36] Panquesito7 commented on #105
Very well.
Should I close this issue, then?

[2019-09-01 15:18] #105 closed

[2021-08-18 10:32] AFCMS opened #111 "Spamming warnings with minetest 5.5-dev and 5.4"
Many warnings in log in that form:
[code]

[2021-11-29 15:38] webD97 opened #112 "Hand over to minetest-mods"
Should we hand this over to https://github.com/minetest-mods? I do not have the time required to properly maintain this mod.

[2021-11-29 15:55] Thomas--S commented on #112
I don't have time for maintaining this mod either.
So, feel free to initiate a handover to minetest-mods. I would appreciate it though, if I still keep write access to the repo there; maybe I can work on it again in a few months.

[2021-11-29 16:26] webD97 commented on #112
https://github.com/minetest-mods/minetest-mods.github.io/issues/117

[2021-11-29 16:30] Panquesito7 commented on #112
I could help in maintaining this mod. I maintain a few other mods as well. 🙂
Do let me know if you need help with that! For major stuff (like converting to a modpack or stuff like that), I'll discuss it with you two.

Let me know what do you think, thanks! 😄

[2021-11-29 16:44] webD97 commented on #112
I'm looking forward to any contributions :)

[2021-11-29 17:13] Panquesito7 commented on #112
Awesome, thanks! If I find anything to contribute to, I'll make a PR. 🙂

[2021-11-29 17:19] webD97 commented on #112
Sure, that's the spirit we need ;) I'm pretty sure this mod might be in need of some love

[2022-03-22 17:46] webD97 commented on #112
I think this can be closed now :)

[2022-03-22 17:46] #112 closed

[2022-07-02 03:49] AmyMoriyama commented on #95
This doesn't work for me as of this reply. Still get the error:

2022-07-01 23:46:45: ERROR[Main]: ModError: Failed to load and run script from /home/username/worlds/world/worldmods/streets/init.lua:
2022-07-01 23:46:45: ERROR[Main]: Number of registerable nodes (32768) exceeded (streets:sign_eu_detour_center)
2022-07-01 23:46:45: ERROR[Main]: stack traceback:
2022-07-01 23:46:45: ERROR[Main]: 	[C